* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
}

.wrapper {
  width: 100%;
  height: 100vh;
  background-color: red;
}

/* Fixed */
/* footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 90px;
  background-color: pink;
}

.main-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 320px;
  height: calc(100% - 90px);
  background: blue;
}
.main-content {
  width: calc(100% - 320px);
  margin-left: 320px;
  padding: 20px;
} */

/* Float */
/* .main {
  height: calc(100% - 90px);
  overflow: hidden;
}
.main:after {
  content: '';
  display: table;
  clear: both;
}
.main-nav {
  float: left;
  width: 320px;
  height: 100%;
  background: blue;
}
.main-content {
  float: left;
  width: calc(100% - 320px);
  height: 100%;
  background-color: orange;
  overflow-y: scroll;
} */


/* Flex */
.main {
  display: flex;
  flex-direction: row;
  height: calc(100% - 90px);
  overflow: hidden;
}
/* main nav */
.main-nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 320px;
  height: 100%;
  background: blue;
}
.main-nav-header {
  background-color: purple;
}
.main-nav-main {
  min-height: 150px;
  overflow-y: auto;
  flex-grow: 2;
  background-color: lime;
}
.playlist {

}
.main-nav-footer {
  background-color: brown;
}

/* main content */
.main-content {
  width: calc(100% - 320px);
  height: 100%;
  background-color: #121212;
  overflow-y: scroll;
}
.call-to-action {
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: calc(100% - 320px);
  height: 90px;
  padding: 5px;
  background-color: rgba(0, 0, 0, 0.5);
}
.btn {
  display: inline-block;
  font-size: 13px;
  font-weight: bold;
  border-radius: 40%;
  margin-right: 30px;
  height: 50px;
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  border-style: solid;
  padding: 15px 35px;
  border-left-width: medium;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  border-width: thin;
}
.btn:hover {
  transform: scale(1.1);
}
/* footer */
.footer {
  width: 100%;
  height: 90px;
  background-color: pink;
}
/* section */
.container_recently {
  margin-top: 20px;
}

.list-section {
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: center;
  margin-top: 100px;
  flex-wrap: wrap;

}
.container-section a {
  text-decoration: none;
  padding: 10px;
  color: #B3B3B3;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 15px;
}
.container-section li {
  padding: 25px 0;
}
.container-section a:hover {
  color: white;
}
.container_recently::after {
  content: '';
  display: table;
  clear: both;
}
.contenuti {
  position: relative;
  width: 200px;
  margin: 25px;
  float: left;
  overflow: hidden;
  cursor: pointer;
}
.contenuti .box_layover {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 200px;
  z-index: 1;
  background: rgba(0, 0, 0, 0.5);
}
.box_layover i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  color: white;
  font-size: 50px;
}
.contenuti:hover .box_layover {
  display: block;
}
h1  {
  margin-left: 25px;
  color: white;
}
.contenuti h2 {
  color: white;
  text-align: center;
  margin-top: 10px;
  font-size: 18px;
}
.contenuti p {
  text-align: center;
  color: #B3B3B3;
  margin-top: 10px;
}
.container_recently img {
  width: 100%;
}
.subtitle {
  margin-left: 25px;
  margin-bottom: 10px;
  margin-top: 10px;
  color: #B3B3B3;
}
.radius {
  border-radius: 50%;
}
