* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
}

.wrapper {
  width: 100%;
  height: 100vh;
}

/* Flex */
.main {
  display: flex;
  flex-direction: row;
  height: calc(100% - 90px);
  overflow: hidden;
}
/* main nav */
.main-nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 250px;
  height: 100%;
  background: black;
}
.main-nav-header {
  background-color: black;
}
.logo img {
  height: 40px;
  margin-left: 20px;
  margin-top: 20px;
}
.logo2 img {
  height: 30px;
  margin-left: 20px;

}
.main-nav-main {
  min-height: 150px;
  overflow-y: auto;
  flex-grow: 2;
  background-color: black;
}
.container-top-list {
  display: flex;
  color: #B3B3B3;
}
.container-top-list ul {
  list-style: none;
}
.container-top-list  img {
  height: 30px;
}
.list-name li {
  padding: 7px;
  cursor: pointer;
}
.list-img ul {
  margin-left: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  cursor: pointer;
}
.list-name ul {
  margin-top: 20px;
  margin-bottom: 20px;
}
.main-nav li:hover {
  color: white;
}
.border {
  border-style: solid ;
  border-color: lightgreen;
  height: 35px;
  border-width:thin;
  margin-top: 20px;
}
.title-playlist {
  color: white;
  font-size: 18px;
  margin-left: 25px;
  margin-bottom: 10px;
}
.container-playlist {
  display: flex;
  color: #B3B3B3;
}
.main-nav-footer {
  background-color: black;
}
.plus {
  margin-left: 25px;
  margin-right: 25px;
}
.crea {
  margin-top: 7px;
}
.plus a {
  text-decoration: none;
  color: #B3B3B3;
}
.crea a {
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  color: #B3B3B3;
}
.fa-plus-square {
  font-size: 40px;
}
.container-playlist a:hover {
  color: white;
}
.playlist {
  margin-left: 25px;
  list-style: none;
  margin-top: 10px;
}
.playlist li {
  padding: 10px 0;
  color: #B3B3B3;
}
.install {
  margin-bottom: 10px;
  color: #B3B3B3;
  margin-left: 25px;
  cursor: pointer;
  display: flex;
}
.install a {
  color: #B3B3B3;
  margin-right: 15px;
}
.doe {
  display: flex;
  color: #B3B3B3;
  margin-bottom: 10px;
}
.app p:hover {
  color: white;
}
.doe a {
  text-decoration: none;
  color: #B3B3B3;
}
.jhon {
 margin-top: 15px;
 cursor: pointer;
 color: white;
 font-weight: bold;
 margin-left: 25px;
}
.fa-user-circle {
  font-size: 30px;
  margin-left: 20px;
  margin-top: 10px;
}
.hr-install {
  margin-left: 25px;
  margin-right: 25px;
}
/* main content */
.main-content {
  width: calc(100% - 250px);
  height: 100%;
  background-color: #121212;
  overflow-y: scroll;
}
.call-to-action {
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: calc(100% - 250px);
  height: 90px;
  padding: 5px;
  background-color: rgba(0, 0, 0, 0.5);
}
.btn {
  display: inline-block;
  font-size: 13px;
  font-weight: bold;
  border-radius: 40%;
  margin-right: 30px;
  height: 50px;
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  border-style: solid;
  padding: 15px 35px;
  border-left-width: medium;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  border-width: thin;
}
.btn:hover {
  transform: scale(1.1);
}
/* footer */
.footer {
  width: 100%;
  height: 90px;
  background-color: #494949;
  display: flex;
  justify-content: space-between;

}
.container-music {
  display: flex;
  /* height: 90px; */
}
.footer-img img {
  height: 50px;
  margin: 20px;
}
.footer-title {
  margin-top: 30px;
}
.footer-title h3 {
  font-size: 15px;
  color: white;
}
.footer-title p {
  font-size: 12px;
  color: #B3B3B3;
}
.footer-title a {
  text-decoration: none;
}
.footer-title a:hover {
  text-decoration: underline;
  color: white;
}
.heart {
  margin-top: 30px;
  margin-left: 45px;
}
.heart a {
  color: #B3B3B3;
}
.heart a:hover {
  color: white;
}
.heart i {
  padding: 5px;
}
.central-top-footer {
  display: flex;
  font-size: 15px;
  height: 45px;
  flex-direction: column;
}
.container-icon {
  display: flex;
  align-items: center;
  justify-content: center;
}
.container-timer {
  display: flex;
  align-items: center;
}
.container-footer-right {
  display: flex;
  align-content: flex-end;
  align-items: center;
}
.container-footer-right a {
  padding: 0 10px;
  color: white;
}
.central-top-footer i {
  color: #B3B3B3;
  padding: 10px;
  color: white;
}
.play-footer {
  font-size: 30px;
}
.play-footer:hover {
  transform: scale(1.5);
}
.bar {
  position: relative;
  width:130px;
  height: 3px;
  background-color: white;
  margin-left: 10px;
}
.bar:hover {
  background-color: lightgreen;
}
.bar i {
  position: absolute;
  top:-16px;
  right: -10px;
  display: none;
}
.bar:hover i {
  display: block;
}
.bar2 {
  width: 200px;
  height: 3px;
  background-color: #B3B3B3;
  margin-right: 10px;
}
.bar-right1 {
  position: relative;
  width: 40px;
  height: 3px;
  background-color: white
}
.bar-right1:hover {
  background-color: lightgreen;
}
.bar-right1 i {
  color: white;
  position: absolute;
  top: -7px;
  right: 0;
  display: none;
}
.bar-right1:hover i {
  display: block;
}
.bar-right2 {
  width: 100px;
  height: 3px;
  background-color: #B3B3B3;
}
.container-timer p {
  color: white;
}
/* section */
.container_recently {
  margin-top: 20px;
}
.list-section {
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: center;
  margin-top: 100px;
  flex-wrap: wrap;
}
.evidenza {
  width: 40%;
  margin-left: 35%;
  color: lightgreen;
  height: 2px;
}
.container-section a {
  text-decoration: none;
  padding: 10px;
  color: #B3B3B3;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 15px;
}
.container-section li {
  padding: 25px 0;
}
.container-section a:hover {
  color: white;
}
.container_recently::after {
  content: '';
  display: table;
  clear: both;
}
.contenuti {
  position: relative;
  width: 200px;
  margin: 25px;
  float: left;
  overflow: hidden;
  cursor: pointer;
}
.contenuti .box_layover {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 200px;
  z-index: 1;
  background: rgba(0, 0, 0, 0.5);
}
.box_layover i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  color: white;
  font-size: 50px;
}
.contenuti:hover .box_layover {
  display: block;
}
h1  {
  margin-left: 25px;
  color: white;
}
.contenuti h2 {
  color: white;
  text-align: center;
  margin-top: 10px;
  font-size: 18px;
}
.contenuti p {
  text-align: center;
  color: #B3B3B3;
  margin-top: 10px;
}
.container_recently img {
  width: 100%;
}
.subtitle {
  margin-left: 25px;
  margin-bottom: 10px;
  margin-top: 10px;
  color: #B3B3B3;
}
.radius {
  border-radius: 50%;
}
@media screen and (max-width: 800px) {
  .hidden {
    visibility: hidden;
  }
  .main-nav {
    width: 70px;
  }
  .main-nav-header {
    position: relative;
  }
  .logo2 , .list-img {
    position: absolute;
    left: 50;
    top: 0;
    transform: translateY(50%);
    transform: translateX(0);
    margin-top: 5px;
  }
  .list-img {
    margin-top: 30px;
  }
  .call-to-action {
    width: calc(100% - 70px);
  }
}
@media screen and ( min-width: 800px) {
  .logo2 {
    display: none;
  }
}
